*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Source Code Pro', 'Open Sans', sans-serif;
  background-color: #0c0c0c;
  color: #e6f1ff; }

::selection {
  color: #233554;
  background-color: #64ffda; }

/* width */
::-webkit-scrollbar {
  width: .8rem; }

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 12px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #112240;
  border-radius: 12px;
  transition: all 5s; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 255, 218, 0.8); }

p.open-tag {
  display: inline-block;
  font-family: "Source Code Pro", sans-serif;
  font-size: 3.6rem;
  user-select: none; }
  p.open-tag::before {
    content: "<"; }
  p.open-tag::after {
    content: ">"; }

p.close-tag {
  display: inline-block;
  user-select: none;
  font-size: 3.6rem;
  font-family: "Source Code Pro", sans-serif; }
  p.close-tag::after {
    content: "</" attr(data-text) ">"; }

a {
  text-decoration: none;
  color: #64ffda;
  transition: all .3s; }
  a:hover {
    color: #7ed56f; }

.header {
  position: sticky;
  top: 0;
  right: 0;
  background-color: rgba(10, 25, 47, 0.6);
  box-shadow: 0 10px 30px -10px #0a192f;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  padding: 0 8rem;
  font-size: 1.3rem;
  z-index: 10000; }
  .header__nav {
    display: flex;
    list-style-type: none; }
    .header__nav-item {
      color: #e6f1ff;
      counter-increment: item 1;
      animation: .6s ease-in 100ms navLinkSlide; }
      .header__nav-item:not(:last-child) {
        margin-right: 3rem; }
      .header__nav-item .nav-link {
        text-decoration: none;
        color: #e6f1ff;
        transition: color .5s;
        transform-origin: left; }
        .header__nav-item .nav-link::before {
          content: "0" counter(item) ".";
          margin-right: 5px;
          color: #64ffda;
          text-align: right;
          transform-origin: left; }
      .header__nav-item:hover .nav-link {
        color: #64ffda; }
        .header__nav-item:hover .nav-link::before {
          color: #e6f1ff; }

@keyframes navLinkSlide {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }

.intro {
  position: relative;
  width: 80vw;
  height: 100vh;
  margin: 0 auto; }
  .intro__container {
    min-height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .intro__content {
    text-align: left;
    margin: 8rem 10rem; }
  .intro__hello {
    color: #64ffda;
    font-size: 1.6rem;
    margin: 0 0 2rem .4rem; }
  .intro__name {
    font-size: 8rem;
    color: #ccd6f6; }
  .intro__iam {
    font-size: 6rem;
    margin-left: .3rem;
    color: #a8b2d1;
    padding: 1rem 0;
    height: 10rem; }
  .intro__description {
    width: 60%;
    margin-top: 3rem;
    font-size: 1.6rem; }
  .intro__tag {
    color: #e9b171; }
  .intro__typed {
    background-size: contain;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 600; }
  .intro__typed-dev {
    background-image: url("../img/programming-bg.jpg"); }
  .intro__typed-gamer {
    color: #e6f1ff; }
  .intro__typed-guitarist {
    background-image: url("../img/sheet-bg.jpg"); }
  .intro__typed-bugs {
    background-image: url("../img/error-bg.png"); }

.about {
  width: 80vw;
  height: 90vh;
  margin: 0 auto; }
  .about__container {
    min-height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .about__content {
    width: 90%;
    margin: 4rem auto;
    display: flex; }
  .about__text {
    font-size: 1.4rem;
    align-self: center;
    line-height: 1.6;
    margin-right: 3rem; }
  .about__image {
    display: inline-block;
    position: relative;
    transition: all .5s; }
    .about__image::before {
      content: "Please don't feel weird about my mustache, this is an only image I have :l";
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      font-size: 1rem;
      padding: 0 1rem .5rem 0;
      width: 99%;
      height: 99%;
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid #e6f1ff;
      border-radius: 1rem;
      transition: all .5s; }
    .about__image img {
      filter: grayscale(1);
      border-radius: 1rem;
      transition: all .5s; }
    .about__image:hover::before {
      transform: translate(1rem, 1rem); }
    .about__image:hover img {
      filter: grayscale(0);
      transform: translate(-1rem, -1rem); }

.exp {
  width: 80vw;
  height: 90vh;
  margin: 0 auto;
  padding-top: 10rem;
  display: flex;
  align-items: center; }
  .exp__container {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .exp__content {
    margin: 8rem 0; }
  .exp__tab {
    display: flex;
    justify-content: center;
    /* Style the buttons inside the tab */
    /* Change background color of buttons on hover */
    /* Create an active/current "tab button" class */
    /* Style the tab content */ }
    .exp__tab .tab {
      transition: all .5s;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 25rem; }
    .exp__tab .tab button {
      background-color: inherit;
      color: #e6f1ff;
      padding: 2.4rem 1.6rem;
      width: 100%;
      border: none;
      border-left: 1px dashed #233554;
      outline: none;
      text-align: center;
      cursor: pointer;
      transition: all 0.3s;
      font-size: 17px;
      transform-origin: top;
      font-family: 'Source Code Pro';
      text-align: left; }
    .exp__tab .tab button:hover {
      color: #64ffda;
      border-left: 1px solid #e6f1ff; }
    .exp__tab .tab button.active {
      border-left: 1px solid #64ffda;
      color: #64ffda; }
    .exp__tab .tabcontent {
      height: auto;
      padding: 0px 12px;
      width: 70%;
      transition: all .5s; }
      .exp__tab .tabcontent .whereami {
        font-size: 1.6rem;
        margin-bottom: 8px; }
      .exp__tab .tabcontent .description {
        line-height: 1.3;
        font-size: 1.3rem; }
  .exp-tag {
    background-image: linear-gradient(to right, #2d9687, #ffffff);
    -webkit-background-clip: text;
    color: transparent; }

.projects {
  position: relative;
  width: 80vw;
  padding-top: 10rem;
  margin: 0 auto; }
  .projects-tag {
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
  .projects .project {
    margin: 8rem 4rem; }
    .projects .project-detail {
      position: relative;
      padding: 0rem 4rem; }
      .projects .project-detail-container {
        margin-top: 4rem; }
      .projects .project-detail .company-name {
        display: block;
        text-align: center;
        font-size: 3.2rem;
        margin-bottom: 4rem; }
    .projects .project.right-border {
      border: none;
      border-right: dashed 2px #64ffda; }
    .projects .project.left-border {
      border: none;
      border-left: 2px solid #64ffda;
      margin-top: 8rem; }
    .projects .project-infor {
      display: flex;
      width: 100%; }
      .projects .project-infor:not(:last-child) {
        margin-bottom: 8rem; }
      .projects .project-infor .infor-img-link {
        position: relative;
        filter: grayscale(1);
        transition: .5s all; }
        .projects .project-infor .infor-img-link::before {
          content: "";
          display: inline-block;
          opacity: 0;
          width: 100%;
          height: 100%;
          border: 1px solid #64ffda;
          border-radius: 2rem;
          transition: all 0.5s;
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: -1; }
        .projects .project-infor .infor-img-link img {
          width: 50rem;
          border-radius: 2rem; }
        .projects .project-infor .infor-img-link:hover {
          filter: grayscale(0);
          transform: scale(1.015) translate(-1rem, -1rem); }
          .projects .project-infor .infor-img-link:hover::before {
            transform: scale(1.015) translate(0.5rem, 0.5rem);
            opacity: 1;
            border: 3px solid #64ffda; }
      .projects .project-infor .infor-text {
        flex-grow: 1;
        font-size: 1.4rem;
        text-align: left;
        line-height: 1.6;
        align-self: center; }
        .projects .project-infor .infor-text .project-techs {
          margin-bottom: 2rem; }
    .projects .project .img-right {
      margin-right: 4rem; }
    .projects .project .img-left {
      margin-left: 4rem; }
    .projects .project .start-date {
      position: absolute;
      bottom: -3rem;
      right: -4.5rem;
      font-size: 1.4rem; }
    .projects .project .end-date {
      position: absolute;
      top: -3rem;
      right: -1.5rem;
      font-size: 1.4rem; }
    .projects .project .start-date-left {
      position: absolute;
      bottom: -3rem;
      left: -3rem;
      font-size: 1.4rem; }
    .projects .project .end-date-left {
      position: absolute;
      top: -3rem;
      left: -4rem;
      font-size: 1.4rem; }
