$color-navy: #0a192f;
$color-light-navy: #112240;
$color-lightest-navy: #233554;
$color-slate: #8892b0;
$color-light-slate: #a8b2d1;
$color-lightest-slate: #ccd6f6;
$color-white: #e6f1ff;
$color-green: #64ffda;

$color-dark-yellow: #e9b171;


$font-primary: "";
$font-pricedown: "Pricedown Bl";
$font-source-code-pro: "Source Code Pro";