$color-navy: #0a192f;
$color-light-navy: #112240;
$color-lightest-navy: #233554;
$color-slate: #8892b0;
$color-light-slate: #a8b2d1;
$color-lightest-slate: #ccd6f6;
$color-white: #e6f1ff;
$color-green: #64ffda;

$color-dark-yellow: #e9b171;

$font-source-code-pro: "Source Code Pro";

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


// RESPONSIVE BREAKPOINT
$bp-1200: 75em;  // 1200px (/16)
$bp-1000: 62.5em; // 1000px
$bp-800: 50em; // 800 px
$bp-600: 37.6em; // 600px 